body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Gotham";
  src: url("/fonts_for_site/GothamLight.ttf") format("truetype"); }

@font-face {
  font-family: "Gothambold";
  src: url("/fonts_for_site/GothamBold.ttf") format("truetype"); }

@font-face {
  font-family: "FontAwesome";
  src: url("fonts_for_site/Awesome_Free_Font.ttf") format("truetype"); }

.header {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-color: #7e81fe;
  height: 800px; }
  .header__main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 800px;
    background-image: url(img/background.png); }
  .header__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 800px;
    background-image: url(img/background.png);
    background-size: cover; }
  .header__content2 {
    position: absolute;
    margin: auto;
    width: 1170px;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .header__logo {
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 2; }
  .header__img {
    width: 1600px;
    height: 800px;
    opacity: 0.1;
    z-index: 1; }
  .header__menu {
    position: absolute;
    top: 68px;
    z-index: 2;
    left: 265px; }
  .header__menu_item {
    display: inline-block;
    font-size: 14px;
    font-family: "Gotham";
    color: white;
    text-transform: uppercase;
    line-height: 1.571;
    margin-left: 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .header__menu_item_oval {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    border: 1px solid white;
    z-index: 2;
    margin-right: 14px; }
  .header__menu_item--pad {
    padding-left: 34px; }
  .header__social_networks {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 2; }
  .header__social_networks_item {
    margin-left: 17px; }
  .header__scroll {
    position: absolute;
    top: 645px;
    left: 300px;
    z-index: 2; }
  .header__title {
    font-size: 80px;
    font-family: "Gothambold";
    color: white;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    line-height: 0.275;
    text-align: center;
    position: absolute;
    left: 140px;
    top: 385px;
    z-index: 2; }
  .header__subtitle {
    font-size: 18px;
    font-family: "Gotham";
    color: white;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    line-height: 1.222;
    text-align: center;
    position: absolute;
    left: 257px;
    top: 464px;
    z-index: 2; }

a {
  font-size: 14px;
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  text-decoration: none; }

.block2 {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-color: white;
  height: 800px; }
  .block2__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 1632px;
    background-color: white;
    background-size: cover; }
  .block2__line {
    position: absolute;
    top: 100px;
    left: 535px;
    width: 100px;
    height: 1px;
    background-color: black; }
  .block2__title {
    width: 100%;
    height: 16.5%; }
  .block2__text {
    font-size: 44px;
    font-family: "Gothambold";
    color: #2c4058;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5;
    text-align: center;
    position: absolute;
    left: 425px;
    top: 145px; }
  .block2__trade_center {
    width: 100%;
    height: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .block2__trade_center_left {
    position: relative;
    width: 55%; }
  .block2__trade_center_right {
    position: relative;
    width: 45%; }
  .block2__block_bg1 {
    margin-top: 3px;
    margin-left: -215px;
    width: 586px;
    height: 467px;
    background-color: #55b7ff; }
  .block2__img1 {
    position: absolute;
    left: 0px;
    top: 74px; }
  .block2__one_text {
    font-size: 22px;
    font-family: "Gotham";
    color: #2c4058;
    text-transform: uppercase;
    position: absolute;
    top: 129px;
    left: 56px; }
  .block2__title_text {
    font-size: 42px;
    font-family: "Gothambold";
    color: #2c4058;
    text-transform: uppercase;
    line-height: 1.091;
    position: absolute;
    letter-spacing: 1.2px;
    top: 159px;
    left: 56px; }
  .block2__subtitle_text {
    font-size: 18px;
    font-family: "Open Sans";
    color: #4b5562;
    letter-spacing: 0.2px;
    line-height: 1.667;
    text-align: left;
    position: absolute;
    top: 230px;
    left: 56px; }
  .block2__button {
    position: absolute;
    top: 350px;
    left: 57px;
    background-color: white;
    width: 190px;
    height: 50px;
    font-size: 14px;
    font-family: "Gotham";
    color: #2c4058;
    text-transform: uppercase;
    border: 1px solid #2c4058; }
  .block2__locating {
    font-size: 16px;
    font-family: "Open Sans";
    font-style: italic;
    letter-spacing: 0.6px;
    color: #2c4058;
    line-height: 1.667;
    text-align: left;
    position: absolute;
    bottom: 63px;
    left: 53px; }
  .block2__one_text--left {
    left: 0; }
  .block2__block_bg2 {
    position: absolute;
    top: 5px;
    left: 274px;
    width: 586px;
    height: 467px;
    background-color: #7e5aff; }
  .block2__trade_center--top {
    margin-top: 134px; }
  .block2__img2 {
    position: absolute;
    left: -260px;
    top: 70px; }

.news {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-color: #29bcf2;
  height: 1037px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .news__main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 1037px;
    background-image: url(img/bg_news.png);
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .news__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 1037px;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .news__header {
    position: relative;
    width: 100%;
    height: 300px; }
  .news__line {
    width: 100px;
    height: 2px;
    position: absolute;
    top: 140px;
    left: 535px;
    background-color: white; }
  .news__text {
    font-size: 44px;
    font-family: "Gothambold";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5;
    text-align: center;
    position: absolute;
    left: 425px;
    top: 185px; }
  .news__line--it {
    background-color: black; }
  .news__line--it1 {
    color: black;
    left: 475px; }

.gallery {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-color: white;
  height: 1000px; }
  .gallery__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 1000px;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .gallery__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    height: 440px; }
  .gallery__left {
    width: 50%; }
  .gallery__right {
    width: 50%;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "gallery__a1 gallery__a2"
 "gallery__a4 gallery__a5";
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .gallery__a1 {
    padding: 5px 5px 5px 5px;
    padding-top: 0;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .gallery__a2 {
    padding: 5px 5px 5px 5px;
    padding-top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .gallery__a3 {
    padding: 5px 5px 5px 5px;
    padding-left: 10px; }
  .gallery__a4 {
    padding: 5px 5px 5px 5px; }
  .gallery__button {
    background-color: white;
    width: 190px;
    height: 50px;
    font-size: 14px;
    font-family: "Gotham";
    color: #2c4058;
    text-transform: uppercase;
    border: 1px solid #2c4058;
    margin-top: 60px;
    margin-left: 490px; }

.map {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-color: #e7e7e7;
  height: 700px; }
  .map__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 700px;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.footer {
  position: relative;
  width: 100%;
  background-position: center;
  background-position-y: 0px;
  background-color: #7e81fe;
  height: 525px; }
  .footer__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 525px;
    background-image: url(img/footer_bg.png);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .footer__logo {
    position: absolute;
    top: 200px;
    left: 200px; }
  .footer__social_networks {
    position: absolute;
    right: 200px;
    top: 210px; }
  .footer__social_networks_item {
    margin-left: 15px; }
  .footer__designer {
    position: absolute;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-family: "Open Sans";
    color: white;
    top: 295px;
    left: 200px; }

.submit {
  position: absolute;
  top: -300px;
  left: 200px;
  width: 770px;
  height: 450px;
  background-color: white;
  z-index: 3;
 display: none; 
}
  .submit__line {
    width: 100px;
    height: 2px;
    position: absolute;
    top: 58px;
    left: 334px;
    background-color: black; }
  .submit__title {
    font-size: 44px;
    font-family: "Gothambold";
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5;
    text-align: center;
    position: absolute;
    top: 93px;
    left: 218px; }
  .submit__location {
    font-size: 18px;
    font-family: "Open Sans";
    color: #808c9b;
    letter-spacing: 1px;
    line-height: 1.889;
    text-align: left;
    position: absolute;
    top: 170px;
    left: 53px; }
  .submit__telephon {
    font-size: 18px;
    font-family: "Open Sans";
    color: #808c9b;
    letter-spacing: 1.4px;
    line-height: 1.889;
    text-align: left;
    position: absolute;
    top: 226px;
    left: 53px; }
  .submit__email {
    font-size: 18px;
    font-family: "Open Sans";
    color: #808c9b;
    letter-spacing: 1.4px;
    line-height: 1.889;
    text-align: left;
    position: absolute;
    top: 285px;
    left: 53px; }
  .submit__time {
    font-size: 18px;
    font-family: "Open Sans";
    color: #808c9b;
    letter-spacing: 1.4px;
    line-height: 1.889;
    text-align: left;
    position: absolute;
    top: 345px;
    left: 53px; }
  .submit__email_addres {
    position: absolute;
    left: 400px;
    bottom: 160px;
    width: 310px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Open Sans";
    border: none;
    border-bottom: 1px solid #808c9b; }
  .submit__text {
    position: absolute;
    left: 400px;
    top: 175px;
    width: 310px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Open Sans";
    border: none;
    border-bottom: 1px solid #808c9b; }
  .submit__button {
    background-color: white;
    width: 190px;
    height: 50px;
    font-size: 14px;
    font-family: "Gotham";
    color: #2c4058;
    text-transform: uppercase;
    border: 1px solid #2c4058;
    position: absolute;
    left: 570px;
    bottom: 82px;
    width: 140px; }

button:hover {
  color: white;
  border: white;
  background-color: #808c9b; }
